<!DOCTYPE html>
<html dir="ltr" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title>Stellar Watcher: Receive notifications every time your wallet changes.</title>
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render "favicon" %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>

    <div class="container">
      <%= render "header" %>
      <%= render "flash_messages" %>

      <div class="content">
        <%= yield %>
      </div>
    </div>

    <%= render "footer" %>
    <%= render "analytics" %>
  </body>
</html>
